*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: 0cap;
}
.calculator{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keys{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    background: rgb(48, 164, 168);
    border-radius: 10px;

}
input{
    grid-column: span 4;
    height: 50px;
    text-align: right;
    padding-right: 10px;
    background-color:white ;
    border: none;
    box-shadow: inset -5px -5px 12px rgb(255, 255, 255),
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);

      border-radius: 20px;   
      font-size: larger;       
}

button{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    box-shadow: inset -8px-8px 15px r(255, 255, 255, 0.1),inset 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    color: white;
}
button:focus {
    outline: none;
  }